{% extends './_form.html' %}
{% load static %}
{% block content %}
  <h2>{{ object }}</h2>
  {{ form.errors }}
  <form method="POST">
    <div class="form">
      {% csrf_token %}
      {% for field in form.hidden_fields %}
        {{ field }}
      {% endfor %}

      <div id="div_item">
        {% include './_form_field.html' with field=form.item %}
      </div>
      <div id="div_location">
        {% include './_form_field.html' with field=form.location %}
      </div>
      <div id="div_short_description">
        {% include './_form_field.html' with field=form.short_description %}
      </div>
      <div id="div_description">
        {% include './_form_field.html' with field=form.long_description %}
      </div>
      <div id="div_urgency">
        {% include './_form_field.html' with field=form.urgency %}
      </div>
      {% if perms.libtekticket.change_ticket %}
        <div id="div_technician">
          {% include './_form_field.html' with field=form.technician %}
        </div>
      {% endif %}
      <div id="div_service_number">
        {% include './_form_field.html' with field=form.service_number %}
      </div>

      <h3>Notes</h3>
      {% include './_form_button.html' with button='<button id="btn_add-ticketnote">Add Note</button>' label='Notes' %}

      <div id="div_insert-ticketnote"></div>

      {% for ticketnote in ticket.ticket_note_set.all %}
        <h4>Note</h4>
      {% endfor %}
      {% include './_form_button.html' with label="Submit Form" button='<button type="submit">Submit</button>' %}

    </div>
  </form>
{% endblock %}
{% block bottomscript %}
  {{ block.super }}
  <script>
    addFormsetListener('btn_add-ticketnote', "id_ticketnote_set-", 'div_ticketnote-empty', 'div_insert-ticketnote' )
  </script>
  <script>
    function setLocation() {
      var itemField = document.getElementById('{{ form.item.id_for_label }}')
      var locationField = document.getElementById('{{ form.location.id_for_label }}')
      var itemSelectedOptions = itemField.selectedOptions
      if(itemSelectedOptions.length==1) {
        locationField.value=itemSelectedOptions[0].getAttribute('data-location')
      }
    }
    document.getElementById('{{ form.item.id_for_label }}').addEventListener('change', function() {
      setLocation();
    })

  </script>
  <script>
    function displayItemButton() {
      if("{{ perms.libtekticket.change_ticket }}"=="True") {
        var href0="{% url 'libtekin:item-update' 0  %}"
        var itemSelect = document.getElementById("{{ form.item.id_for_label }}")
        if( itemSelect.value > 0 ) {
          var href = href0.replace("0", itemSelect.value)
          var aItem = document.createElement('a')
          aItem.id="a_itemEdit"
          aItem.href=href
          aItem.innerText="Edit Item"
          aItem.target="_blank"
          itemSelect.parentNode.insertBefore(aItem, itemSelect.nextSibling )
          aItem.addEventListner('click', function(e) {
            e.preventDefault
            window.open(href)
          })
        } else {
          document.getElementById('a_itemEdit').remove()
        }
      }
    }
    document.getElementById("{{ form.item.id_for_label }}").addEventListener("change", function(){
      displayItemButton()
    });
    displayItemButton()
  </script>
  <script>
    addFilterInput("{{ form.item.id_for_label }}")
  </script>
{% endblock %}

