{% load libtekticket_perm_checks %}
  <h2>{{ object }}</h2>

  <div class="detail">
    {% url 'libtekin:item-detail' object.item.pk as theurl %}
    {% with item=object.item.common_name|add:' [<a href="'|add:theurl|add:'" target="_blank">view item</a>]'|safe %}
      {% include 'touglates/detail_field.html' with label=ticket_labels.item field=item %}
    {% endwith %}
    {% include 'touglates/detail_field.html' with label=ticket_labels.location field=object.location %}
    {% include 'touglates/detail_field.html' with label=ticket_labels.short_description field=object.short_description %}
    {% include 'touglates/detail_field.html' with label=ticket_labels.long_description field=object.long_description %}
    {% include 'touglates/detail_field.html' with label=ticket_labels.urgency field=object.urgency %}
    {% include 'touglates/detail_field.html' with label=ticket_labels.submitted_by field=object.submitted_by %}
    {% include 'touglates/detail_field.html' with label=ticket_labels.is_resolved field=object.is_resolved|yesno %}
    {% include 'touglates/detail_field.html' with label=ticket_labels.resolution_notes field=object.resolution_notes %}


    <h3>Notes</h3>
    {% user_is_editor object user as editor %}
    <table>
    {% for ticketnote in object.ticketnote_set.all %}
      <div class="relatedset relatedticketnote" id="div_ticketnote-{{ forloop.counter0 }}">
        <div class="fieldWrapper">
          <div class="control">
            <div class="label">
              Note:
            </div>
            <div class="field">
              {{ ticketnote.when }}: {{ ticketnote.maintext }} --{{ ticketnote.submitted_by }}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    <div class="relatedset relatedticketnote" id="div_ticketnote-empty" style="display:none">
      <div class="fieldWrapper">
        <div class="control">
          <div class="label">
            Note:
          </div>
          <div class="field">
            <span data-field="when"></span> : <span data-field="maintext"></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    document.getElementById('a_addnote').addEventListener('click', function(e) {
      e.preventDefault()
      window.open(e.target.href)
    });
    function refreshDiv(fields, model) {
      var emptydiv = document.getElementById('div_' + model + '-empty')
      var newdiv = emptydiv.cloneNode(true)
      var allTicketnoteDivs = document.getElementsByClassName('relatedticketnote')
      newdiv.id = 'div_' + model + '-' + allTicketnoteDivs.length
      keys = Object.keys(fields)
      console.log('keys:')
      console.log(keys)
      for(key of keys){
        console.log("span[data-field='" + key + "']")
        console.log(fields[key])
        newdiv.querySelector("span[data-field='" + key + "']").innerText=fields[key]
      }
      newdiv.style.display="block"
      emptydiv.parentNode.insertBefore(newdiv, emptydiv)
    }
  </script>

