{% extends './_form.html' %}
{% load static %}
{% load perm_checks %}
{% block content %}
  <h2>{{ object }}</h2>
  {{ form.errors }}
  <form method="POST">
    <div class="form">
      {% csrf_token %}
      {% for field in form.hidden_fields %}
        {{ field }}
      {% endfor %}

      <div id="div_item">
        {% include './_form_field.html' with field=form.item %}
      </div>
      <div id="div_location">
        {% include './_form_field.html' with field=form.location %}
      </div>
      <div id="div_short_description">
        {% include './_form_field.html' with field=form.short_description %}
      </div>
      <div id="div_description">
        {% include './_form_field.html' with field=form.long_description %}
      </div>
      <div id="div_urgency">
        {% include './_form_field.html' with field=form.urgency %}
      </div>
      {% if perms.libtekticket.change_ticket %}
        <div id="div_technician">
          {% include './_form_field.html' with field=form.technician %}
        </div>
      {% endif %}
      <div id="div_service_number">
        {% include './_form_field.html' with field=form.service_number %}
      </div>

      {% include './_form_button.html' with label="Submit Form" button='<button type="submit">Submit</button>' %}
      <h3>Notes</h3>

      {% user_is_editor object user as editor %}
      {% if editor %}
        {% if perms.libtekticket.add_ticket %}
          <div><a id="a_addnote" href="{% url 'libtekticket:ticket-ticketnote-create' object.pk %}">Add Note</a></div>
        {% endif %}
      {% endif %}


    </div>
  </form>
  {% for ticketnote in object.ticketnote_set.all %}
    <div class="relatedset relatedticketnote" id="div_ticketnote-{{ forloop.counter0 }}">
      <div class="fieldWrapper">
        <div class="control">
          <div class="label">
            Note:
          </div>
          <div class="field">
            {{ ticketnote.when }}: {{ ticketnote.text }}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  <div class="relatedset relatedticketnote" id="div_ticketnote-empty" style="display:none">
    <div class="fieldWrapper">
      <div class="control">
        <div class="label">
          Note:
        </div>
        <div class="field">
          <span data-field="when"></span> : <span data-field="text"></span>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block bottomscript %}
  {{ block.super }}
  <script>
    addFormsetListener('btn_add-ticketnote', "id_ticketnote_set-", 'div_ticketnote-empty', 'div_insert-ticketnote' )
  </script>
  <script>
    function setLocation() {
      var itemField = document.getElementById('{{ form.item.id_for_label }}')
      var locationField = document.getElementById('{{ form.location.id_for_label }}')
      var itemSelectedOptions = itemField.selectedOptions
      if(itemSelectedOptions.length==1) {
        locationField.value=itemSelectedOptions[0].getAttribute('data-location')
      }
    }
    document.getElementById('{{ form.item.id_for_label }}').addEventListener('change', function() {
      console.log('change event triggered')
      setLocation();
    })

  </script>
  <script>
    function displayItemButton() {
      if("{{ perms.libtekticket.change_ticket }}"=="True") {
        var href0="{% url 'libtekin:item-update' 0  %}"
        var itemSelect = document.getElementById("{{ form.item.id_for_label }}")
        if( itemSelect.value > 0 ) {
          var href = href0.replace("0", itemSelect.value)
          var aItem = document.createElement('a')
          aItem.id="a_itemEdit"
          aItem.href=href
          aItem.innerText="Edit Item"
          aItem.target="_blank"
          itemSelect.parentNode.insertBefore(aItem, itemSelect.nextSibling )
          aItem.addEventListener('click', function(e) {
            e.preventDefault
            window.open(href)
          })
        } else {
          var aItem = document.getElementById('a_itemEdit')
          if(typeof(aItem) != 'undefined' && aItem != null
            document.getElementById('a_itemEdit').remove()
          }
        }
      }
    }
    document.getElementById("{{ form.item.id_for_label }}").addEventListener("change", function(){
      displayItemButton()
    });
    displayItemButton()
  </script>
  <script>
    addFilterInput("{{ form.item.id_for_label }}")
  </script>
  <script>
    document.getElementById('a_addnote').addEventListener('click', function(e) {
      e.preventDefault()
      window.open(e.target.href)
    });
    function refreshDiv(fields, model) {
      var emptydiv = document.getElementById('div_' + model + '-empty')
      var newdiv = emptydiv.cloneNode(true)
      var allTicketnoteDivs = document.getElementsByClassName('relatedticketnote')
      newdiv.id = 'div_' + model + '-' + allTicketnoteDivs.length
      keys = Object.keys(fields)
      console.log('keys:')
      console.log(keys)
      for(key of keys){
        console.log("span[data-field='" + key + "']")
        console.log(fields[key])
        newdiv.querySelector("span[data-field='" + key + "']").innerText=fields[key]
      }
      newdiv.style.display="block"
      emptydiv.parentNode.insertBefore(newdiv, emptydiv)
    }
  </script>

{% endblock %}

