{% extends './_csv.html' %}
{% load static %}
{% block content %}

{% if 'item' in show_columns or not show_columns %}"{{ labels.item|addslashes }}",{% endif %}{% if 'location' in show_columns or not show_columns %}"{{ labels.location|addslashes }}",{% endif %}{% if 'short_description' in show_columns or not show_columns %}"{{ labels.short_description|addslashes }}",{% endif %}{% if 'urgency' in show_columns or not show_columns %}"{{ labels.urgency|addslashes }}",{% endif %}{% if 'submitted_by' in show_columns or not show_columns %}"{{ labels.submitted_by|addslashes }}",{% endif %}{% if 'when' in show_columns or not show_columns %}"{{ labels.when|addslashes }}",{% endif %}{% if 'is_resolved' in show_columns or not show_columns %}"{{ labels.is_resolved|addslashes }}",{% endif %}

{% for ticket in object_list %}{% if 'item' in show_columns or not show_columns %}"{{ ticket.item|addslashes }}",{% endif %}{% if 'location' in show_columns or not show_columns %}"{{ ticket.location|addslashes }}",{% endif %}{% if 'short_description' in show_columns or not show_columns %}"{{ ticket.short_description|addslashes }}",{% endif %}{% if 'urgency' in show_columns or not show_columns %}"{{ ticket.urgency|addslashes }}",{% endif %}{% if 'submitted_by' in show_columns or not show_columns %}"{{ ticket.submitted_by|addslashes }}",{% endif %}{% if 'when' in show_columns or not show_columns %}"{{ ticket.when|addslashes }}",{% endif %}{% if 'is_resolved' in show_columns or not show_columns %}"{{ ticket.is_resolved|addslashes }}",{% endif %}
{% endfor %}

{% endblock %}
