{% extends './_base.html' %}
{% block content %}
  <button type="button" id='btn_showviewform' class="show">Show Sort/Filter form</button>
  <div id='div_viewform' class="viewform hidden" >
    <form method="POST">
      {% csrf_token %}
      <div class="field-wrapper">
        <div class="control">
          <div class="label">
            Sort By
          </div>
          <div class="field">
            <select name="order_by">
              {% for field in order_by_fields %}
                <option value="{{ field.name }}"{% if order_by.0 == field.name %} selected="SELECTED" {% endif %}>{{ field.label }}</option>
              {% endfor %}
            </select>
            <select name="order_by">
              {% for field in order_by_fields %}
                <option value="{{ field.name }}"{% if order_by.1 == field.name %} selected="SELECTED" {% endif %}>{{ field.label }}</option>
              {% endfor %}
            </select>
            <select name="order_by">
              {% for field in order_by_fields %}
                <option value="{{ field.name }}"{% if order_by.2 == field.name %} selected="SELECTED" {% endif %}>{{ field.label }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <div class="field-wrapper">
        <div class="control">
          <div class="label">
            Quick Search
          </div>
          <div class="field">
            <input id="ctl_common_text_search" name="common_text_search" value="{{ common_text_search }}">
          </div>
        </div>
      </div>
      <div class="field-wrapper">
        <div class="control">
          <div class="label">
            Model is in
          </div>
          <div class="field">
            <select multiple name="filter__mmodel__in">
              {% for mmodel in mmodels %}
                <option value="{{ mmodel.pk }}"{% if 'mmodel__in' in filter_object %}{% if mmodel.pk|lower in filter_object.mmodel__in %} selected="SELECTED" {% endif %}{% endif %}>{{ mmodel }}</option>
              {% endfor %}
            </select>
            <input type="checkbox" name="filter__mmodel__none">
          </div>
        </div>
      </div>
      <div class="field-wrapper">
        <div class="control">
          <div class="label">
            Category is in
          </div>
          <div class="field">
            <select multiple name="filter__mmodel__category__in">
              {% for mmodelcategory in mmodelcategories %}
                <option value="{{ mmodelcategory.pk }}"{% if 'mmodel__category__in' in filter_object %}{% if mmodelcategory.pk|lower in filter_object.mmodel__category__in %} selected="SELECTED" {% endif %}{% endif %}>{{ mmodelcategory }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <div class="field-wrapper">
        <div class="control">
          <div class="label">
            Role is in
          </div>
          <div class="field">
            <select multiple name="filter__role__in">
              {% for role in roles %}
                <option value="{{ role.pk }}"{% if 'role__in' in filter_object %}{% if role.pk|lower in filter_object.role__in %} selected="SELECTED" {% endif %}{% endif %}>{{ role }}</option>
              {% endfor %}
            </select>
            <input type="checkbox" name="filter__role__none" {% if 'role__none' in filter_object %} checked="CHECKED"{% endif %}>No Role
          </div>
        </div>
      </div>
      <div class="field-wrapper">
        <div class="control">
          <div class="label">
            Condition is in
          </div>
          <div class="field">
            <select multiple name="filter__condition__in">
              {% for condition in conditions %}
                <option value="{{ condition.pk }}"{% if 'condition__in' in filter_object %}{% if condition.pk|lower in filter_object.condition__in %} selected="SELECTED" {% endif %}{% endif %}>{{ condition }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>

      <div class="field-wrapper">
        <div class="control">
          <div class="label">
            Show Fields
          </div>
          <div class="field">
            <select multiple="multiple" name="shown_fields">
              {% for field in showable_fields %}
                <option value="{{ field.name }}"{% if field.name in shown_fields %} selected="SELECTED" {% endif %}>{{ field.label }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>

      <div class="field-wrapper">
        <div class="control">
          <div class="label">
            Save Search
          </div>
          <div class="field">
            <input name="vista__name" value="">
          </div>
        </div>
      </div>

      <div class="field-wrapper">
        <div class="control">
          <div class="label">
            &nbsp;
          </div>
          <div class="field">
            <button type="submit" name="query_submitted" value='True'>Submit</button>
          </div>
        </div>
        <div class="help_text">
          &nbsp;
        </div>
      </div>
    </form>
    <form method="POST">
      {% csrf_token %}
      <h3>Saved View</h3>
      <div class="field-wrapper">
        <div class="control">
          <div class="label">
            Get Saved View
          </div>
          <div class="field">
            <select name="vista__name">
              <option value=''>-----</option>
              {% for vista in vistas%}
                <option value="{{ vista.name }}">{{ vista.name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <div class="field-wrapper">
        <div class="control">
          <div class="label">
            Action
          </div>
          <div class="field">
            <button type="submit" name="get_vista" value="get">Get</button>
            <button type="submit" name="delete_vista" value="delete">Delete</button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="list">
    <div><a href="{% url 'libtekticket:ticket-create' %}">create</a></div>
      <div class="row rowhead">
        {% include './_list_head.html' with field='' %}
        {% if 'common_name' in shown_fields or not shown_fields %}
          {% include './_list_head.html' with field=item_labels.common_name %}
        {% endif %}
        {% if 'mmodel' in shown_fields or not shown_fields %}
          {% include './_list_head.html' with field=item_labels.mmodel %}
        {% endif %}
        {% if 'primary_id' in shown_fields or not shown_fields %}
          {% include './_list_head.html' with field=item_labels.primary_id %}
        {% endif %}
        {% if 'serial_number' in shown_fields or not shown_fields %}
          {% include './_list_head.html' with field=item_labels.serial_number %}
        {% endif %}
        {% if 'service_number' in shown_fields or not shown_fields %}
          {% include './_list_head.html' with field=item_labels.service_number %}
        {% endif %}
        {% if 'asset_number' in shown_fields or not shown_fields %}
          {% include './_list_head.html' with field=item_labels.asset_number %}
        {% endif %}
        {% if 'barcode' in shown_fields or not shown_fields %}
          {% include './_list_head.html' with field=item_labels.barcode %}
        {% endif %}
        {% if 'network_name' in shown_fields or not shown_fields %}
          {% include './_list_head.html' with field=item_labels.network_name %}
        {% endif %}
        {% if 'role' in shown_fields or not shown_fields %}
          {% include './_list_head.html' with field=item_labels.role %}
        {% endif %}
        {% if 'condition' in shown_fields or not shown_fields %}
          {% include './_list_head.html' with field=item_labels.condition %}
        {% endif %}
        {% if 'home' in shown_fields or not shown_fields %}
          {% include './_list_head.html' with field=item_labels.home %}
        {% endif %}
        {% if 'location' in shown_fields or not shown_fields %}
          {% include './_list_head.html' with field=item_labels.location %}
        {% endif %}
        {% if 'assignee' in shown_fields or not shown_fields %}
          {% include './_list_head.html' with field=item_labels.assignee %}
        {% endif %}
        {% if 'borrower' in shown_fields or not shown_fields %}
          {% include './_list_head.html' with field=item_labels.borrower %}
        {% endif %}
        {% if 'owner' in shown_fields or not shown_fields %}
          {% include './_list_head.html' with field=item_labels.owner %}
        {% endif %}
        {% if 'latest_inventory' in shown_fields or not shown_fields %}
          {% include './_list_head.html' with field=item_labels.latest_inventory %}
        {% endif %}


      </div>

      {% for item in object_list %}
        <div class="row">
          <div class="listfield"><a href="{% url 'libtekticket:ticket-detail' item.pk %}">view</a></div>
          {% if 'common_name' in shown_fields or not shown_fields %}
            {% include './_list_field.html' with field=item.common_name %}
          {% endif %}
          {% if 'mmodel' in shown_fields or not shown_fields %}
            {% include './_list_field.html' with field=item.mmodel %}
          {% endif %}
          {% if 'primary_id' in shown_fields or not shown_fields %}
            {% include './_list_field.html' with field=item.primary_id %}
          {% endif %}
          {% if 'serial_number' in shown_fields or not shown_fields %}
            {% include './_list_field.html' with field=item.serial_number %}
          {% endif %}
          {% if 'service_number' in shown_fields or not shown_fields %}
            {% include './_list_field.html' with field=item.service_number %}
          {% endif %}
          {% if 'asset_number' in shown_fields or not shown_fields %}
            {% include './_list_field.html' with field=item.asset_number %}
          {% endif %}
          {% if 'barcode' in shown_fields or not shown_fields %}
            {% include './_list_field.html' with field=item.barcode %}
          {% endif %}
          {% if 'network_name' in shown_fields or not shown_fields %}
            {% include './_list_field.html' with field=item.network_name %}
          {% endif %}
          {% if 'role' in shown_fields or not shown_fields %}
            {% include './_list_field.html' with field=item.role %}
          {% endif %}
          {% if 'condition' in shown_fields or not shown_fields %}
            {% include './_list_field.html' with field=item.condition %}
          {% endif %}
          {% if 'home' in shown_fields or not shown_fields %}
            {% include './_list_field.html' with field=item.home.short_name %}
          {% endif %}
          {% if 'location' in shown_fields or not shown_fields %}
            {% include './_list_field.html' with field=item.location.short_name %}
          {% endif %}
          {% if 'assignee' in shown_fields or not shown_fields %}
            {% include './_list_field.html' with field=item.assignee.friendly_name %}
          {% endif %}
          {% if 'borrower' in shown_fields or not shown_fields %}
            {% include './_list_field.html' with field=item.borrower.friendly_name %}
          {% endif %}
          {% if 'owner' in shown_fields or not shown_fields %}
            {% include './_list_field.html' with field=item.owner.friendly_name %}
          {% endif %}
          {% if 'latest_inventory' in shown_fields or not shown_fields %}
            {% include './_list_field.html' with field=item.latest_inventory %}
          {% endif %}

        </div>
      {% endfor %}

    </div>
  </div>
{% endblock %}
{% block bottomscript %}
  {{ block.super }}
  <script>

    function toggleSortFilterForm() {
      btnShowviewform = document.getElementById('btn_showviewform')
      var viewDiv = document.getElementById('div_viewform')
      viewDiv.classList.toggle('hidden')
      if( viewDiv.classList.contains('hidden')) {
        btnShowviewform.textContent='Show Sort/Filter Form'
      } else {
        document.getElementById("ctl_common_text_search").focus()
        btnShowviewform.textContent='Hide Sort/Filter Form'
      }
    }
  </script>
  <script>
    document.getElementById('btn_showviewform').addEventListener('click', function(e){
      e.preventDefault
      toggleSortFilterForm()
    });

  </script>
  <script>
    document.addEventListener('keydown', function(e) {
      if(e.ctrlKey) {
        if(e.shiftKey) {
          if(e.which==70) {
            e.preventDefault();
            toggleSortFilterForm()
          }
        }
      }
    });
  </script>
{% endblock %}
