{% extends './_form.html' %}
{% load static %}
{% block content %}
  <h2>{{ object }}</h2>
  {{ form.errors }}
  <form method="POST">
    <div class="form">
      {% csrf_token %}
      {% for field in form.hidden_fields %}
        {{ field }}
      {% endfor %}

      <div id="div_item">
        {% include './_form_field.html' with field=form.item %}
      </div>
      <div id="div_location">
        {% include './_form_field.html' with field=form.location %}
      </div>
      <div id="div_description">
        {% include './_form_field.html' with field=form.description %}
      </div>
      <div id="div_urgency">
        {% include './_form_field.html' with field=form.urgency %}
      </div>
      <div id="div_technician">
        {% include './_form_field.html' with field=form.technician %}
      </div>
      <div id="div_service_number">
        {% include './_form_field.html' with field=form.service_number %}
      </div>


      <h3>Notes</h3>
      <button id="btn_add-tickennote">Add Note</button>
      <div id="div_insert-ticketnote"></div>
      {{ ticketnotes.management_form }}
      {% for form in ticketnotes.forms %}
        <h4>Note</h4>
        <div class="formset" id="div_ticketnote-{{ forloop.counter0 }}">
          {{ form.errors }}
          {% for field in form.hidden_fields %}
            {{ field }}
          {% endfor %}
          {% for field in form.visible_fields%}
            <div class="fieldWrapper">
              {% if field.errors %}
                <div class="errors">
                  {{ field.errors }}
                </div>
              {% endif %}
              <div class="control">
                <div class="label">
                  {{ field.label_tag }}
                </div>
                <div class="field">
                  {{ field }}
                </div>
              </div>
              <div class="help_text">
                {{ field.help_text}}
              </div>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
      <div style="display:none" class="emptyformset" id="div_ticketnote-empty">
        {% for field in ticketnotes.empty_form.hidden_fields %}
          {{ field }}
        {% endfor %}
        {% for field in ticketnotes.empty_form.visible_fields%}
          <div class="fieldWrapper">
            {% if field.errors %}
              <div class="errors">
                {{ field.errors }}
              </div>
            {% endif %}
            <div class="control">
              <div class="label">
                {{ field.label_tag }}
              </div>
              <div class="field">
                {{ field }}
              </div>
            </div>
            <div class="help_text">
              {{ field.help_text}}
            </div>
          </div>
        {% endfor %}
      </div>

      <h3>Timed Notes</h3>
      <button id="btn_add-ticketnote">Add Timed Note</button>
      <div id="div_insert-ticketnote"></div>
      {{ ticketnotes.management_form }}
      {% for form in ticketnotes.forms %}
        <h4>Note</h4>
        <div class="formset" id="div_ticketnote-{{ forloop.counter0 }}">
          {{ form.errors }}
          {% for field in form.hidden_fields %}
            {{ field }}
          {% endfor %}
          {% for field in form.visible_fields%}
            <div class="fieldWrapper">
              {% if field.errors %}
                <div class="errors">
                  {{ field.errors }}
                </div>
              {% endif %}
              <div class="control">
                <div class="label">
                  {{ field.label_tag }}
                </div>
                <div class="field">
                  {{ field }}
                </div>
              </div>
              <div class="help_text">
                {{ field.help_text}}
              </div>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
      <div style="display:none" class="emptyformset" id="div_ticketnote-empty">
        {% for field in ticketnotes.empty_form.hidden_fields %}
          {{ field }}
        {% endfor %}
        {% for field in ticketnotes.empty_form.visible_fields%}
          <div class="fieldWrapper">
            {% if field.errors %}
              <div class="errors">
                {{ field.errors }}
              </div>
            {% endif %}
            <div class="control">
              <div class="label">
                {{ field.label_tag }}
              </div>
              <div class="field">
                {{ field }}
              </div>
            </div>
            <div class="help_text">
              {{ field.help_text}}
            </div>
          </div>
        {% endfor %}
      </div>
      <button type="submit">Submit</button>
    </div>
  </form>
{% endblock %}
{% block bottomscript %}
  {{ block.super }}
  <script>
    addFormsetListener('btn_add-ticketnote', "id_tickenote_set-", 'div_ticketnote-empty', 'div_insert-ticketnote' )
  </script>
  <script>
    function setLocation() {
      var itemField = document.getElementById('{{ form.item.id_for_label }}')
      var locationField = document.getElementById('{{ form.location.id_for_label }}')
      var itemSelectedOptions = itemField.selectedOptions
      if(itemSelectedOptions.length==1) {
        locationField.value=itemSelectedOptions[0].getAttribute('data-location')
      }
    }
    document.getElementById('{{ form.item.id_for_label }}').addEventListener('change', function() {
      setLocation();
    })

  </script>

{% endblock %}

